.container {
    max-width: 960px;
    margin: 20px auto;
    background-color: aliceblue;
}

.title {
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

ul {
    
}

li {
    display: inline-block;
    width: 30%;
    margin: auto;
    background-color: red;
}