.container {
    max-width: 960px;
    margin: 20px auto;
    background-color: aliceblue;
}

.containerRecipes {
    text-align: center;
}

.containerRecipes ul,
.containerRecipes ol {
    text-align: left;
    margin-left: 100px;
}

.title {
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.indexList li {
    display: inline-block;
    width: 33%;
    margin: auto;
    text-align: center;
}